<a href="https://colab.research.google.com/github/GabrielTw1/Programa-o-FPB/blob/main/aula_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
nomes = ['ze', 'tião', 'joaquim']
nomes.append('julia')


#varios valores 
outrosNomes = ['ana', 'gabriel', 'maria']
nomes.extend(outrosNomes)

nomes

['ze', 'tião', 'joaquim', 'julia', 'ana', 'gabriel', 'maria']

In [3]:
#crie uma lista de numeros 
numeros = [ 4, 9, 5, 0, 29 ]
#remova o primeiro numero da lista 
numeros.remove(numeros[0])
#remova o ultimo numero da lista 
numeros.pop()

numeros

[9, 5, 0]

In [6]:
#crie uma lista de notas, e exiba-a da menor para o maior 
notas = [2,10, 5, 8, 0, 17, 9]
nomes = ['ademar', 'gabriel', 'thulio', 'leo']
notas.sort()
nomes.sort(reverse=True)
nomes 
#2- crie uma lista de nomes de frutas e ordene

['thulio', 'leo', 'gabriel', 'ademar']

In [11]:
#exemplos função map - cria uma nova lista com  o dobro 
numeros = [90, 10, 80, 30]
nova_lista = list(map(lambda x : x*2, numeros))
nova_lista

[180, 20, 160, 60]

In [12]:
# pegar cada um dos numeros e dividir por 3 
numDivi = list(map(lambda x : x/3, numeros ))

numDivi

[30.0, 3.3333333333333335, 26.666666666666668, 10.0]

In [13]:
#pega cada numero e soma 2
soma2 = list(map(lambda x : x+2, numeros))
soma2

[92, 12, 82, 32]

In [14]:
#exemplo funçao filter a partir de uma lista de nomes, e me diga os nomes que tem mais de caracteries 

nomes = ['joao', 'jose', 'sebastião', 'angelica']

new_list = list(filter(lambda x : len(x)>5, nomes))
new_list

['sebastião', 'angelica']

In [26]:
#crie uma lista de notas, imprime as maiores que 6

listanot = [10, 8, 1, 7, 9]

listmsix = list(filter(lambda x : x >= 6, listanot ))
listmsix

[10, 8, 7, 9]

In [33]:
#dada uma lista de numeros, retorne uma lsite contendo o quadrado de cada numero 

listnum = [9, 6, 10]

newlist = list(map(lambda x : x **2, listnum))
print(newlist)

[81, 36, 100]

In [36]:
#dada uam lista de nomes, retorne uma lista contendo o tamanho de cada nome 

listname = ['gabriel', 'ruan', 'marcelo']

newlist = list(map(lambda x : len(x), listname))
newlist

[7, 4, 7]

In [41]:
#dada uma lista de numeros retorne uma lista contendo apenas os numeros pares

Listnumeros = [7, 4, 3, 2, 84, 90]

listpar = list(filter(lambda x : x %2 == 0, Listnumeros))
listpar

[4, 2, 84, 90]

In [48]:
a = 'gabriel'
a[0]

'g'

In [53]:
#dada a lista de nomes, retorne uma lista contendo apenas os nomes que começam com a letra 'A'

nomescoma = ['Ana' ,'iris' ,'alisson' ,'hugo' ,'gabriel']

listnew = list(filter(lambda x : x[0].upper()=='A' , nomescoma))
listnew

['Ana', 'alisson']